nav {
    background-color: rgb(175, 54, 33);
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
   
}

a{
    text-decoration: none;
}

.Link {
    text-decoration: none;
    border-radius: 10px;
}

li{
    background-color: rgb(185, 62, 40);
   
    
}

